In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
import openpyxl
import sys
sys.path.append('c:\\Users\\blue\\ti\\ai_car_company')
from models import Base, Inventario, VehiculosCliente, Lnegocio, Conversion  # Importa las tablas desde models.py

# Resto del código para la limpieza de datos y la migración a la base de datos

In [ ]:
# Leer el DataFrame desde un archivo CSV o fuente de datos
df = pd.read_excel('../data/raw/dataset.xlsx', sheet_name='sheet1',  index_col=False)

In [ ]:
# Leer el DataFrame desde un archivo CSV o fuente de datos
df.head()

In [ ]:
df.columns = ['FECHA', 'COD_C', 'MARCA_MODELO', 'nombrecliente','PLACA', 'TANQUE', 'CAPACIDAD', 'UBICACION', 'P_TANQUE', 'KIT', 'K_MARCA',
              'P_KIT', 'CERTIFICADO', 'P_CERT', 'P_CINTA_NEGRA', 'P_PRESINTOS', 'P_MANGUERA', 'PV_Cliente', 'COSTO', 
              'GANANCIA', 'EFECTIVO', 'BCP', 'TARJETA', 'G_EFECTIVO', 'G_BCP', 'G_TARJETA']

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
# 3. Limpieza de datos
try:
    df['FECHA'] = pd.to_datetime(df['FECHA'], format='%Y/%m/%d')
except ValueError as e:
    print("Error:", e)
    print("Filas con valor inesperado en FECHA:")
    unexpected_values = df[pd.to_datetime(df['FECHA'], errors='coerce').isnull()]['FECHA']
    print(unexpected_values)

In [ ]:
df.head(5)

In [ ]:
print(df.columns)

df['FECHA'].unique()

In [ ]:
"""
  TABLE Transacciones (
  idTransaccion INT AUTO_INCREMENT PRIMARY KEY,--------vacia
  Fecha DATE,                                       ----------[FECHA] 
  iddocumento VARCHAR(100),             ----------COD_C 
  idVehiculo INT,----------[MARCA_MODELO,PLACA] hidVehiculo  (1)
  idproducto INT,----------[1,2,3] LINEA DE NEGOCIO , [COD_C, MARCA_MODELO,PLACA] hidproducto (2)
  valida_certificado INT,----------[1,0][CERTIFICADO - tratamiento de datos]  (0)
  costotanque DECIMAL(10, 2),----------P_TANQUE
  costokit DECIMAL(10,2),----------P_KIT	
  costocertificacion DECIMAL(10,2),----------suma[P_CERT	,P_CINTA_NEGRA	,P_PRESINTOS,	P_MANGUERA]
  precioventa DECIMAL(10,2),----------PV_Cliente
  Ganancia DECIMAL(10, 2),----------GANANCIA	
  idconversion INT,----------[COD_C, MARCA_MODELO] hidconversion (3)
  idkit INT,----------[COD_C,'KIT', 'K_MARCA' ,P_KIT] hidkit (3)
  idaplicacion INT------(Brinda interna ,Brinda externa) (1,2) tratamiento (0)
);
"""

In [ ]:

import random
random.seed(42)  # Puedes usar cualquier número entero como semilla
def hash_function(*args):
    concatenated_keys = repr(''.join(map(str, args)))
    resultado = len(concatenated_keys)
    i = 0
    largo =0  # Definir el valor deseado para 'largo'

    # Agregar un número aleatorio entre 1 y la longitud de la cadena
    num_aleatorio = random.randint(1, len(concatenated_keys))

    for index, character in enumerate(concatenated_keys, start=1):
        resultado = resultado + (index - ord(character))
        i += index

    resultado = sum(index - ord(character) for index, character in enumerate(concatenated_keys, start=1))
    resultado = resultado + sum(ord(character) for character in concatenated_keys) + largo

    if 'N400XN300ACCENT' in concatenated_keys:
        return 61547
    else:
        return resultado + i + num_aleatorio  # Agregar el número aleatorio al resultado

# Ejemplo de uso: pasando tres columnas
columnas1 = ['MARCA_MODELO','nombrecliente', 'PLACA']
df['hidVehiculo'] = df[columnas1].apply(lambda row: hash_function(*row), axis=1)

#hasear idtransacction
columnas2 = ['COD_C','MARCA_MODELO','PLACA','TANQUE', 'CAPACIDAD','UBICACION']
df['idtransacction'] = df[columnas2].apply(lambda row: hash_function(*row), axis=1)


columnas3 = ['COD_C','MARCA_MODELO','nombrecliente','PLACA']
df['hidconversion'] = df[columnas3].apply(lambda row: hash_function(*row), axis=1)
# Mapeo de las marcas a valores numéricos
marca_mapping = {
    'LANDI': 1,
    'ZAVOLI': 2,
    'DIGITRONIC': 3,
    'EMME GAS': 4,
    'OTROS': 5
}
df['hkitmarca'] = df['K_MARCA'].str.upper().map(marca_mapping)

columnas4 = ['COD_C','MARCA_MODELO','PLACA','TANQUE']
df['hidinventario'] = df[columnas4].apply(lambda row: hash_function(*row), axis=1)
# Asignar los valores mapeados a la columna 'K. MARCA' según las marcas
columnas5 = ['COD_C','MARCA_MODELO','nombrecliente','PLACA','TANQUE', 'K_MARCA']
df['hidkit'] = df[columnas5].apply(lambda row: hash_function(*row), axis=1)

In [ ]:
df.hidkit.unique()

In [ ]:
duplicados = df[df.duplicated(subset=['hidkit'], keep=False)]

In [ ]:
duplicados.head()

In [ ]:
# Filtrar el DataFrame por la condición en 'Clave_Hashh'
#fila_filtrada = df[df['Clave_Hashh'] == 16]
"""
# Mostrar la fila filtrada si existe
if not fila_filtrada.empty:
    print(fila_filtrada)
else:
    print("No se encontraron registros con Clave_Hashh igual a 13.")
"""
#df['Clave_Hashh'].unique()
# Obtener el valor de 'Clave_Hashh' si la fila está presente
# valor_clave_hash = fila_filtrada['Clave_Hashh'].values[0] if not fila_filtrada.empty else None
fila_filtrada = df[df['hidinventario'] == 1423]
valor_clave_hash = fila_filtrada.iloc[::].count()
# Imprimir el valor de 'Clave_Hashh' si se encuentra la fila
valor_clave_hash

In [ ]:
# Reemplazar valores en la columna 'KIT'
df['KIT'] = df['KIT'].str.extract(r'(\d+)').astype(float)
# Reemplazar valores en la columna 'CERTIFICADO'
df['CERTIFICADO'] = df['CERTIFICADO'].replace({'SI': 1, 'NO': 0})
# Manejar valores nulos y reemplazarlos por 0 en la columna 'CERTIFICADO'
df['CERTIFICADO'] = df['CERTIFICADO'].fillna(0)
# Convertir todas las cadenas de la columna 'UBICACIÓN' a minúsculas
df['UBICACION'] = df['UBICACION'].str.lower()
# Crear un diccionario para mapear los valores de 'UBICACIÓN'
mapeo_ubicacion = {'brida interna': 1, 'brida externa': 2}
# Crear una nueva columna 'UBICACIÓN_MEJORA' con los valores transformados
df['idaplicacion'] = df['UBICACION'].replace(mapeo_ubicacion)

# Crear una nueva columna 'idproducto' que describe las lineas del negocio 1,2,3
df = df.assign(idlinea=1)

In [ ]:
df.head()

In [ ]:
import re

# Utilizar expresiones regulares para extraer solo los números de la columna 'CAPACIDAD'
df['nCAPACIDAD'] = df['CAPACIDAD'].str.extract(r'(\d+)').astype(float)


# Crear una nueva columna 'SUMA_TOTAL' con la suma de las columnas convertidas a float
df['costocertificacion'] = df[['P_CERT', 'P_CINTA_NEGRA', 'P_PRESINTOS', 'P_MANGUERA']].astype(float).sum(axis=1)

# Lista de columnas a convertir a valores flotantes
columns_to_convert = ['P_TANQUE', 'P_KIT', 'PV_Cliente', 'COSTO', 'GANANCIA', 'EFECTIVO', 'BCP', 'TARJETA', 'G_EFECTIVO', 'G_BCP', 'G_TARJETA']

# Convertir las columnas seleccionadas a valores flotantes
for column in columns_to_convert:
    df[column] = df[column].astype(float)

In [ ]:
df.head()

In [ ]:
col_to_trasaccion = ['idtransacction','FECHA','COD_C', 'hidVehiculo', 'idlinea', 'CERTIFICADO', 'P_TANQUE', 'P_KIT', 'costocertificacion','PV_Cliente','GANANCIA','hidconversion','hidkit','idaplicacion' ]
df_selected = df.loc[:, col_to_trasaccion]
df_selected.head()

In [ ]:
"""
  TABLE Transacciones (
  idTransaccion INT AUTO_INCREMENT PRIMARY KEY,--------vacia
  Fecha DATE,                                       ----------[FECHA] 
  iddocumento VARCHAR(100),             ----------COD_C 
  idVehiculo INT,----------[MARCA_MODELO,PLACA] hidVehiculo  (1)
  idproducto INT,----------[1,2,3] LINEA DE NEGOCIO , [COD_C, MARCA_MODELO,PLACA] hidproducto (2)
  valida_certificado INT,----------[1,0][CERTIFICADO - tratamiento de datos]  (0)
  costotanque DECIMAL(10, 2),----------P_TANQUE
  costokit DECIMAL(10,2),----------P_KIT	
  costocertificacion DECIMAL(10,2),----------suma[P_CERT	,P_CINTA_NEGRA	,P_PRESINTOS,	P_MANGUERA]costocertificacion
  precioventa DECIMAL(10,2),----------PV_Cliente
  Ganancia DECIMAL(10, 2),----------GANANCIA	
  idconversion INT,----------[COD_C, MARCA_MODELO] hidconversion (3)
  idkit INT,----------[COD_C,'KIT', 'K_MARCA' ,P_KIT] hidkit (3)
  idaplicacion INT------(Brinda interna ,Brinda externa) (1,2) tratamiento (0)
);
"""

In [ ]:
# PATH = 'motorsql+motorpython://USER:PASSWORD@HOST:PORT/DATABASE'
import sqlite3
import sys
sys.path.append('c:\\Users\\blue\\ti\\ai_car_company')
connect =sqlite3.connect('../car_company.db')
df_selected.columns = ['idtrasaccion','Fecha', 'documento', 'idvehiculo', 'idproducto', 'valida_certificado', 'costotanque',
                            'costokit', 'costocertificacion', 'precioventa', 'Ganancia', 'idconversion', 'idkit', 'idaplicacion']
if connect:
    print('CONEXION EXITOSA!!!')

#df_selected.to_sql(name='Transacciones', con=connect, if_exists='append', index=False)
# Cerrar la conexión

connect.close()

In [ ]:
"""
  TABLE Transacciones (
  idTransaccion INT AUTO_INCREMENT PRIMARY KEY,--------vacia
  Fecha DATE,                                       ----------[FECHA] 
  iddocumento VARCHAR(100),             ----------COD_C 
  idVehiculo INT,----------[MARCA_MODELO,PLACA] hidVehiculo  (1)
  idproducto INT,----------[1,2,3] LINEA DE NEGOCIO , [COD_C, MARCA_MODELO,PLACA] hidproducto (2) x no hash
  valida_certificado INT,----------[1,0][CERTIFICADO - tratamiento de datos]  (0)
  costotanque DECIMAL(10, 2),----------P_TANQUE
  costokit DECIMAL(10,2),----------P_KIT	
  costocertificacion DECIMAL(10,2),----------suma[P_CERT	,P_CINTA_NEGRA	,P_PRESINTOS,	P_MANGUERA]costocertificacion
  precioventa DECIMAL(10,2),----------PV_Cliente
  Ganancia DECIMAL(10, 2),----------GANANCIA	
  idconversion INT,----------[COD_C, MARCA_MODELO] hidconversion (3)
  idkit INT,----------[COD_C,'KIT', 'K_MARCA' ,P_KIT] hidkit (3)
  idaplicacion INT------(Brinda interna ,Brinda externa) (1,2) tratamiento (0)
);
"""

""" 
class Inventario(Base): xxxxxxxxxxxxxxxeliminar tabla y manejarlo como vista
    __tablename__ = 'Inventario'
    idinventario = Column(Integer, primary_key=True) 
    stock_inicial = Column(Integer)
    stock_actual = Column(Integer)
    stock_final = Column(Integer)
col_to_inventario =['hidinventario'] * carga por campos calculados 


class VehiculosCliente(Base):okokokokokokokokok
    __tablename__ = 'Vehiculoscliente'
    idvehiculo = Column(Integer, primary_key=True) ------------------------------hidVehiculo
    nombrecliente = Column(String(100)) ------------------------------VACIO POR ''
    Marca_Modelo = Column(String(100))------------------------------MARCA_MODELO
    Placa = Column(String(20)) ------------------------------PLACA 
   
col_to_vcliente =['hidVehiculo','nombrecliente', 'MARCA_MODELO','PLACA '] x carga 

selected_columns.columns = ['idvehiculo', 'nombrecliente', 'Marca_Modelo', 'Placa']


class Productos(Base):
    __tablename__ = 'Productos'
    idproducto = Column(Integer, primary_key=True)------------------------------ hidproducto
    linea_negocio = Column(String(100))
    Nombre_Producto = Column(String(100))
    Precio = Column(DECIMAL(10, 2))

col_to_productos =['idproducto','linea_negociovacio', 'nombrevacio','preciovacio'] x carga por separado


class Conversion(Base):okokokokokokokokok
    __tablename__ = 'Conversion'
    idconversion = Column(Integer, primary_key=True, autoincrement=True)
    nconversion = Column(String(50))
    galones = Column(Integer)
    idinventario = Column(Integer, ForeignKey('Inventario.idinventario'))
col_to_conversion =['hidconversion','TANQUE', 'nCAPACIDAD','hidinventario'] 



class Aplicacion(Base):
    __tablename__ = 'Aplicacion'
    idaplicacion = Column(Integer, primary_key=True, autoincrement=True)
    aplicacion_name = Column(String(50))
col_to_conversion =['idaplicacion','aplicacion_name'] x carga por separado


class Servicios(Base):
    __tablename__ = 'Servicios'
    idservicio = Column(Integer, primary_key=True, autoincrement=True)
    Descripcion = Column(String(100))
    Precio = Column(DECIMAL(10, 2)) x carga por separado

class Kit(Base):
    __tablename__ = 'Kit'
    idkit = Column(Integer, primary_key=True)
    kitmarca = Column(String(50))
    tecnologia = Column(Integer)
    idinventario = Column(Integer, ForeignKey('Inventario.idinventario'))

col_to_kit =['hkitmarca','K_MARCA', 'KIT', 'hidinventario'] 


class Pagos(Base):
    __tablename__ = 'Pagos'
    idpago = Column(Integer, primary_key=True, autoincrement=True)
    idtrasanccion = Column(Integer, ForeignKey('Transacciones.idtrasaccion'))
    Efectivo = Column(DECIMAL(10, 2))
    BCP = Column(DECIMAL(10, 2))
    Tarjeta = Column(DECIMAL(10, 2))

col_to_pago =['idTransaccion','EFECTIVO', 'BCP', 'TARJETA'] 

"""

In [ ]:
# tabla vehiculo cliente
col_to_vcliente =['hidVehiculo','nombrecliente', 'MARCA_MODELO','PLACA']
# Seleccionar las columnas específicas directamente
df_col_to_vcliente= df[col_to_vcliente]

In [ ]:
df_col_to_vcliente.columns = ['idvehiculo', 'nombrecliente', 'Marca_Modelo', 'Placa']

In [ ]:

# tabla conversion
col_to_conversion =['hidconversion','TANQUE', 'nCAPACIDAD','hidinventario']
df_col_to_conversion = df.loc[:, col_to_conversion]
# Máscara para seleccionar columnas específicas

In [ ]:
df_col_to_conversion.columns = ['idconversion', 'nconversion', 'galones', 'idinventario']

In [ ]:
# tabla pago
col_to_pago =['idtransacction','EFECTIVO', 'BCP', 'TARJETA']
df_col_to_pago = df.loc[:, col_to_pago]

In [ ]:
df_col_to_pago.columns = ['idtrasanccion','Efectivo','BCP','Tarjeta']

In [ ]:
col_to_kit =['hidkit','hkitmarca','K_MARCA', 'KIT', 'hidinventario'] 

df_col_to_kit = df.loc[:, col_to_kit]

In [ ]:

df_col_to_kit.columns = ['idkit','clasekit','kitmarca','tecnologia','idinventario']

In [ ]:
df_col_to_vcliente.idvehiculo.unique()

In [ ]:
# PATH = 'motorsql+motorpython://USER:PASSWORD@HOST:PORT/DATABASE'
import sqlite3
import sys
sys.path.append('c:\\Users\\blue\\ti\\ai_car_company')
connect =sqlite3.connect('../car_company.db')
if connect:
    print('CONEXION EXITOSA!!!')

#df_col_to_vcliente.to_sql(name='Vehiculoscliente', con=connect, if_exists='append', index=False)
#df_col_to_conversion.to_sql(name='Conversion', con=connect, if_exists='append', index=False)

#df_col_to_pago.to_sql(name='Pagos', con=connect, if_exists='append', index=False)
df_col_to_kit.to_sql(name='Kit', con=connect, if_exists='append', index=False)
# Cerrar la conexión

connect.close()

In [ ]:
import sqlite3

# Conectar a la base de datos (creará un archivo si no existe)
connection = sqlite3.connect('../car_company.db')
cursor = connection.cursor()
servicios = [
    (1,'Si', 10),
    (0,'No', 0),
]
# Insertar datos en la tabla Servicios
cursor.executemany("INSERT INTO Servicios (idservicio, descripcion, precio) VALUES (?, ?, ?)", servicios)
# Datos de ejemplo para la tabla Lnegocio
lnegocio = [
    (1, 'conversiones'),
    (2, 'servicios'),
    (3, 'repuestos'),
]

# Insertar datos en la tabla Lnegocio
cursor.executemany("INSERT INTO Lnegocio (idlinea, linea_negocio) VALUES (?, ?)", lnegocio)
# Guardar los cambios y cerrar la conexión
connection.commit()
connection.close()